In [1]:
import json
import pandas as pd

In [2]:
raw_data=("D:\\Testing Documents\\Aug 2018\In Contact\\Set 5\\ContactState.JSON")

In [3]:
df=pd.read_json(raw_data)
df

                                          contactStates
0     {'AgentId': 6795142, 'BusinessUnitId': 4597504...
1     {'AgentId': 6795142, 'BusinessUnitId': 4597504...
2     {'AgentId': 6795142, 'BusinessUnitId': 4597504...
3     {'AgentId': 6795097, 'BusinessUnitId': 4597504...
4     {'AgentId': 6795097, 'BusinessUnitId': 4597504...
5     {'AgentId': -1, 'BusinessUnitId': 4597504, 'Ca...
6     {'AgentId': 6795112, 'BusinessUnitId': 4597504...
7     {'AgentId': 0, 'BusinessUnitId': 4597504, 'Cam...
8     {'AgentId': 0, 'BusinessUnitId': 4597504, 'Cam...
9     {'AgentId': 6795144, 'BusinessUnitId': 4597504...
10    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
11    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
12    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
13    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
14    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
15    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
16    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
17    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
18    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
19    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
20    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
21    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
22    {'AgentId': -1, 'BusinessUnitId': 4597504, 'Ca...
23    {'AgentId': 6795111, 'BusinessUnitId': 4597504...
24    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
25    {'AgentId': 6795164, 'BusinessUnitId': 4597504...
26    {'AgentId': 6795144, 'BusinessUnitId': 4597504...
27    {'AgentId': 6795231, 'BusinessUnitId': 4597504...
28    {'AgentId': -1, 'BusinessUnitId': 4597504, 'Ca...
29    {'AgentId': 6795421, 'BusinessUnitId': 4597504...
...                                                 ...
1041  {'AgentId': 6795134, 'BusinessUnitId': 4597504...
1042  {'AgentId': 6795110, 'BusinessUnitId': 4597504...
1043  {'AgentId': -1, 'BusinessUnitId': 4597504, 'Ca...
1044  {'AgentId': 0, 'BusinessUnitId': 4597504, 'Cam...
1045  {'AgentId': -1, 'BusinessUnitId': 4597504, 'Ca...
1046  {'AgentId': 6795140, 'BusinessUnitId': 4597504...
1047  {'AgentId': 6795144, 'BusinessUnitId': 4597504...
1048  {'AgentId': 0, 'BusinessUnitId': 4597504, 'Cam...
1049  {'AgentId': 6795125, 'BusinessUnitId': 4597504...
1050  {'AgentId': 6795435, 'BusinessUnitId': 4597504...
1051  {'AgentId': -1, 'BusinessUnitId': 4597504, 'Ca...
1052  {'AgentId': 6795110, 'BusinessUnitId': 4597504...
1053  {'AgentId': 0, 'BusinessUnitId': 4597504, 'Cam...
1054  {'AgentId': 6795135, 'BusinessUnitId': 4597504...
1055  {'AgentId': 6795386, 'BusinessUnitId': 4597504...
1056  {'AgentId': 6795137, 'BusinessUnitId': 4597504...
1057  {'AgentId': 0, 'BusinessUnitId': 4597504, 'Cam...
1058  {'AgentId': 0, 'BusinessUnitId': 4597504, 'Cam...
1059  {'AgentId': 0, 'BusinessUnitId': 4597504, 'Cam...
1060  {'AgentId': 0, 'BusinessUnitId': 4597504, 'Cam...
1061  {'AgentId': 6795118, 'BusinessUnitId': 4597504...
1062  {'AgentId': 6795124, 'BusinessUnitId': 4597504...
1063  {'AgentId': 6795120, 'BusinessUnitId': 4597504...
1064  {'AgentId': 0, 'BusinessUnitId': 4597504, 'Cam...
1065  {'AgentId': 0, 'BusinessUnitId': 4597504, 'Cam...
1066  {'AgentId': 0, 'BusinessUnitId': 4597504, 'Cam...
1067  {'AgentId': 6795136, 'BusinessUnitId': 4597504...
1068  {'AgentId': 6795162, 'BusinessUnitId': 4597504...
1069  {'AgentId': 6795379, 'BusinessUnitId': 4597504...
1070  {'AgentId': 6795440, 'BusinessUnitId': 4597504...

[1071 rows x 1 columns]

In [4]:
data=df['contactStates'][0]

In [5]:
columns=list(data.keys())
print(columns)

['AgentId', 'BusinessUnitId', 'CampaignName', 'CampaignId', 'ContactId', 'ContactStateCode', 'CurrentContactState', 'FirstName', 'FromAddr', 'LastName', 'LastPollTime', 'LastUpdateTime', 'MasterContactId', 'MediaName', 'MediaType', 'SkillName', 'SkillId', 'StartDate', 'TeamName', 'TeamId', 'ToAddr']

In [6]:
JList=[x.lower() for x in columns]
JList

['agentid',
 'businessunitid',
 'campaignname',
 'campaignid',
 'contactid',
 'contactstatecode',
 'currentcontactstate',
 'firstname',
 'fromaddr',
 'lastname',
 'lastpolltime',
 'lastupdatetime',
 'mastercontactid',
 'medianame',
 'mediatype',
 'skillname',
 'skillid',
 'startdate',
 'teamname',
 'teamid',
 'toaddr']

In [7]:
import pyodbc
import pandas as pd
User_pwd='enter the user password'
server_name='Enter the server name'
connection_stg=pyodbc.connect('Driver={ODBC Driver 13 for SQL Server};Server='+server_name+';database=ODS;UID=<user id>;PWD='user pw')

query='select top 0* from table name'

col_query=pd.read_sql(query,connection_stg)
print(col_query)

Empty DataFrame
Columns: [AgentId, BusinessUnitId, CampaignName, CampaignId, ContactId, ContactStateCode, CurrentContactState, FirstName, FromAddr, LastName, LastPollTime, LastUpdateTime, MasterContactId, MediaName, MediaType, SkillName, SkillId, StartDate, TeamName, TeamId, ToAddr]
Index: []

[0 rows x 21 columns]

In [8]:
ods_col_list=list(col_query)

In [9]:
OList=[x.lower() for x in ods_col_list]
print(OList)

['agentid', 'businessunitid', 'campaignname', 'campaignid', 'contactid', 'contactstatecode', 'currentcontactstate', 'firstname', 'fromaddr', 'lastname', 'lastpolltime', 'lastupdatetime', 'mastercontactid', 'medianame', 'mediatype', 'skillname', 'skillid', 'startdate', 'teamname', 'teamid', 'toaddr']

In [10]:
unmapped_list=[]
for i in JList:
    if i not in OList:
        unmapped_list.append(i)

In [11]:
unmapped_list

[]