In [31]:
import pandas as pd
import os.path

In [34]:
directory="C:\\Users\\prakasps\\Desktop\\Python\\Test_Data"
file_list=[]
for i in os.listdir(directory):
    if ".xlsx" in i:
        file_list.append(i)
        print(i)

Data_Set_01.xlsx
Data_Set_02.xlsx
Data_Set_03.xlsx
Data_Set_04.xlsx
Data_Set_05.xlsx

In [49]:
name_list=[]
for i in file_list:
    name_list.append(i.split('.')[0])
print(name_list)

['Data_Set_01', 'Data_Set_02', 'Data_Set_03', 'Data_Set_04', 'Data_Set_05']

In [55]:
count=0
for i in file_list:
    path=directory+"\\"+i
    name_list[count]=pd.read_excel(path)
    count=count+1

In [58]:
# printing shape of the loaded data frame
count=0
for i in name_list:
    print("{}".format(name_list[count].head(2)))
    count=count+1

  Name       City  Price
0   P1  Bangalore     23
1   P2      Kolar     33
  Name       City  Price
0   P1  Bangalore   23.0
1   P2      Kolar   33.0
  Name       City  Price
0   P1  Bangalore     23
1   P2      Kolar     33
  Name       City  Price
0   P1  Bangalore     23
1   P2      Kolar     33
  Name       City  Price
0   P1  Bangalore     23
1   P2      Kolar     33

In [40]:
i.split('.')

['Data_Set_05', 'xlsx']